<h1><%="お前のたまきURLは" unless @your_tamki_url==blank? %><%= request.protocol+""+""+request.host_with_port%>/<%=@your_tamki_url unless @your_tamki_url==blank? %></h1>

<br>
<%=form_tag :action => "create" do%>
 <form action="create" method="post">
		<div class="registerContent">				
			<fieldset class="name">
				<legend>おまえ今からURLいれろ:</legend>
				<label for="firstName">ここにURLいれろ:</label>
				<%=text_field_tag :native_url,"",:size=>"128"%>
			</fieldset>
		</div>
	<%= submit_tag "登録" %>
<%end%>

<br>
<br>
<table>
<tr bgcolor="#cccccc">
  <th>本当のurl</th>
  <th>たまきURL</th>
 </tr>
<% @pairlinks.each do |pl|%>
 	<tr align=center>
      <td><%=pl.url  %></td>
      <td><%=pl.tamaki_url %></td>
 	</tr>
 <%end%>
</table>