<h1>Listing pairlinks</h1>

<table>
  <tr>
    <th>id</th>
    <th>url</th>
    <th>tamaki_url</th>
    <th>digested_hash</th>
    <th  style="color: red;">state</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pairlinks.each do |pairlink| %>
  <tr bgcolor=<%=pairlink.state== 1 ? "#FFFFFF" : "#cccccc" %>>
    <td><%= pairlink.id %></td>
    <td><%= url_omitize(pairlink.url) %></td>
    <td><%= pairlink.tamaki_url %></td>
    <td><%= pairlink.digested_hash %></td>
    <td><%= pairlink.state ? pairlink.state : "?" %></td>
    <td><%= link_to 'Show', "home/#{pairlink.id}" %></td>
    <td><%= link_to 'Edit', "home/#{pairlink.id}/edit"%></td>
    <td><%= link_to 'Destroy', "home/#{pairlink.id}", confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New', :action =>"new" %>
<br />
<%= link_to 'all_destroy' %>