<!DOCTYPE html>
<html>
<head>
  <title>Tamakitan</title>
  <%= stylesheet_link_tag    "application.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "js/ajax_make.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
